.cart-products{
    /* border: 2px solid sandybrown; */
    width: 33%;
    padding: 15px;
}

.cart-product-cart{
    border: 2px solid slateblue ;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    background-color: #303030;
}
.sticky-p {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #303030;
    padding: 5px;
  }